/* Start variables */
:root {
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
    --gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}
/* End variables */

/* Import fonts */
@font-face {
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
        format(truetype);
    font-weight: 400 800;
    font-style: normal;
}

/* Start global rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: Inconsolata;
    font-size: 20px;
    color: white;
    background-image: url("../images/background-mobile.png");
    background-size: cover;
    position: relative;
}
@media (min-width: 768px) {
    body {
        background-image: url("../images/background-tablet.png");
    }
}
@media (min-width: 992px) {
    body {
        background-image: url("../images/background-desktop.png");
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small screens */
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
/* Medium screens */
@media (min-width: 992) {
    .container {
        width: 960px;
    }
}
/* Large screens */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* End global rules */

/* Start background images */
.background-images {
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
.background-images .pattern {
    position: absolute;
    width: 100%;
}
.background-images .pattern.lines {
    height: 100vh;
    left: 0;
    top: -10px;
}
.background-images .pattern.line-top {
    right: 0;
    top: 30px;
    max-width: fit-content;
}
.background-images .pattern.line-bottom {
    left: 0;
    bottom: 0;
    max-width: 350px;
}
.background-images .pattern.line-bottom img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
@media (min-width: 992px) {
    .background-images .pattern.line-bottom {
        max-width: 650px;
    }
}
/* End background images */

/* Start header */
header {
    padding-top: 25px;
}
header .container {
    text-align: center;
    max-width: 600px;
}
header h1 {
    font-size: 1.5em;
    margin: 35px 0 15px;
}
@media (min-width: 992px) {
    header h1 {
        font-size: 2em;
    }
}
header p {
    font-size: 0.9em;
    margin: 0;
    color: var(--Neutral-300);
}
/* End header */

/* Start form section */
.form {
    padding: 40px 0;
    position: relative;
    z-index: 2;
}
.form .container {
    max-width: 450px;
}
.form [class*="form-input"] {
    position: relative;
    margin-bottom: 30px;
}
.form label {
    display: block;
    color: var(--Neutral-300);
    margin-bottom: 7px;
}
.form .image-input,
.form .form-input > input,
.form .image-input img {
    color: var(--Neutral-300);
    background-color: rgb(255 255 255 / 0.1);
    backdrop-filter: blur(2px);
}
.form .image-input {
    position: relative;
    text-align: center;
    padding: 20px;
    color: var(--Neutral-300);
    border: 2px dashed var(--Neutral-500);
    border-radius: 9px;
}
.form-input-image:focus-within .image-input::before {
    content: "";
    position: absolute;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 1.5px solid var(--Neutral-500);
    bottom: -6.5px;
    left: -6px;
    border-radius: 16px;
}
.form .image-input img {
    display: block;
    max-width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: rgb(255 255 255 / 0.1);
    border: 2px solid var(--Neutral-700);
    border-radius: 12px;
}
.form #img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.form .image-input .hidden {
    display: none;
}
.form .note {
    font-size: 0.6em;
    color: var(--Neutral-500);
}
.form .note::before {
    content: url("../images/icon-info.svg");
    position: relative;
    margin-right: 5px;
    vertical-align: middle;
}
.form .form-input > input,
.form .form-submit > input {
    width: 100%;
    border-radius: 12px;
    padding: 13px 10px;
    outline: none;
}
.form .form-input > input {
    border: 1px solid var(--Neutral-500);
    font-size: 0.9em;
}
.form-input:not(.form-input-image):focus-within::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: 58px;
    border: 1.5px solid var(--Neutral-500);
    bottom: -5px;
    left: -5px;
    border-radius: 16px;
}
form .form-submit input {
    background-color: var(--Orange-500);
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: background-color .3s
}
form .form-submit input:hover {
    background-color: var(--Orange-700);
}
/* End form section */
